* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
}

body {
    margin: 0;
    background-color: #d0d9cc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-image: url('/img/planodefundo.png'); 
    background-position: center; 
}

.voltando button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 1000; 
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    width: 100%;
    max-width: 700px;
    
    height: auto;
    max-height: 90vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
}


h1 { 
    color: #58765E;
    margin-bottom: 70px;
    font-size: 55px;
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    gap: 30px;
    margin-bottom: 10px;
    justify-content: center;
}

.avatar {
    background-color: #C3D1C2;
    border-radius: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
    height: 150px;
}

.avatar:hover {
    background-color: #7E9D7E;  
    transform: scale(1.1); 
}
.avatar img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}



.avatar {
    background-color: #C3D1C2;
    border-radius: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
    height: 150px;
}

.avatar:hover {
    background-color: #7E9D7E;
    transform: scale(1.1); 
}

.avatar.selecionado {
    border: 5px solid #7E9D7E; 
}

#startButton {
    background-color: #7E9D7E;
    color: white;
    border: none; 
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 50px;
    font-size: 24px;
}

#startButton:hover {
    background-color: #46604e;
}

@media (max-width: 480px) {
    .container {
      padding: 20px;
      width: 95%;
      max-height: 90vh; 
      height: auto;
    }
  
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }
  
    .avatar-grid {
      grid-template-columns: repeat(2, 120px);
      gap: 15px;
    }
  
    .avatar {
      width: 120px;
      height: 120px;
      padding: 20px;
    }
  
    #startButton {
      padding: 10px 20px;
      font-size: 20px;
      margin-top: 30px;
    }
  }
  
  @media (min-width: 488px) and (max-width: 768px) {
    .container {
      width: 90%;
      max-height: 90vh;
      height: auto;
    }
  
    h1 {
      font-size: 40px;
      margin-bottom: 30px;
    }
  
    .avatar-grid {
      grid-template-columns: repeat(2, 120px);
      grid-template-rows: repeat(3, 130px);
      gap: 20px;
    }
  
    .avatar {
      width: 120px;
      height: 120px;
      padding: 20px;
    }
  
    #startButton {
      padding: 10px 30px;
      font-size: 22px;
      margin-top: 40px;
    }
  }
  
  @media (max-height: 876px) {
    body {
      padding: 10px; 
    }
  
    .container {
      height: auto !important; 
      max-height: 100vh;
      padding: 30px;
      width: 90%;
    }
  
    h1 {
      font-size: 40px;
      margin-bottom: 30px;
    }
  
    .avatar-grid {
      grid-template-columns: repeat(3, 110px);
      gap: 30px;
      margin-bottom: 15px;
    }
  
    .avatar {
      width: 120px;
      height: 120px;
      padding: 20px;
    }
  
    #startButton {
      font-size: 20px;
      padding: 10px 24px;
      margin-top: 25px;
    }
  }
  